body{
	margin: 0px !important; /*!important is for overwriting the browser default settings*/
	background-color: #051420 !important;/* Sets background color */
	font-family: "Roboto" !important;
	overflow-x: hidden; /* Disables horizontal scroll */
	min-width: 240px;
}

.RegistrationForm {
	font-size: 20px;
    top: 150px !important;
    background: #0C1C2C !important;
    padding: 20px 20px;
    background: azure;
    border-radius: 15px;
    color: black !important;
    height: 350px;
    min-width: 350px;
}

.SignUpButton {
	width: calc(100% - 40px)!important;
    padding: 10px;
    border: none;
    border-radius: 6px;
    display: block;
    position: absolute;
    margin-top: 20px;
    background-color: #9278FF;
    color: #ffffff;
    outline: none;
}

.navbar {
	height: 100%;
	top: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
 	width: 250px;
 	background-color: #0C1C2C;
 	position: fixed;
	height: 100%;
}

.LogoIcon{
	float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 5px;
    transform: rotate(20deg) !important;
}

.LogoText{
	width: 100%;
    font-family: "Pacifico" !important;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    text-decoration: underline;
    text-decoration-color: #9278FF;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.is-fullwidth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
}

.large {
    font-size: 1rem;
    height: 1.5em;
    width: 1.5em;
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 3.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;

    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}

.is-block {
    display: block !important;
}
.title {
    color: var(--green-black);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
}
.has-text-primary {
    color: var(--primary) !important;
}
.radiusless {
    border-radius: 0 !important;
}
.is_128 {
    height: 128px;
    width: 128px;   
}
.is-size-4 {
    font-size: 1.5rem !important;
} 	

.image_style {
    display: block;
    position: relative;
}
.createIcon{
	display: block;
	height: 20px;
	float: right;
}

.invisibleButton {
	background: transparent;
    border: none !important;
    font-size:0;
}

.createDecisionBox{
	background-color: #112D49;
	width: calc(100% - 80px);
	border-radius: 10px;
	top: 60px !important;
	left: 40px !important;
	right: 40px !important;
}
.createDecisionBox table{
	margin: 0 !important;
	width: 100%;
}

.decision-element {
	text-align: center;
	color: #7A93B0;
	width: calc(100% - 40px);
	padding: 20px;
	font-size: 14px;
}

.navbar-element {
	display: block;
	color: #7A93B0;
    padding: 15px 30px 15px 50px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-element:hover{
		color: #9981FC;
		text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		padding: 15px 30px 15px 50px;
	}

.active{
	color: #9278FF;
	text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border-left: solid #9278FF;
	padding: 15px 30px 15px 48px;
}

.bottom{
	position: absolute !important;
	bottom: 80px !important;
}

.logout{
	position: absolute;
	bottom: 40px;
	color: #FF6172;
}
.logout:hover{
		text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
		border-left: solid #FF6172 !important;
		padding: 15px 30px 15px 48px !important;
		
}

.navbar-show{
	width: calc(100% - 40px);
	height: auto;
	position: relative;
	top: 0;
	overflow: hidden;
	padding:20px;
	margin-bottom: 16px;
	background: #0C1C2C;

}

.menuIcon-show {
	height: 20px;
	float: left;
}

.navbar-element-show {
	width: 100%;
	color: #7A93B0;
	float: none;
	font-size: 12px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	padding: 15px 20px 0px 0px;
	overflow: hidden;
}

.headerLabel {
	color: #7A93B0 !important;
    float: left;
    text-align: center;
    width: calc(100% - 52px);
    font-size: 16px;
    font-weight: bold;
}

.navbar-element-show:hover{
	color: #9278FF;
	text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header{
	margin-left: 250px;
	padding: 16px;
	overflow: hidden;
}

.headline{
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	float: left;
	vertical-align: center;
	padding-top: 5px;
	display:block;
}

.searchBox{
	display: block;
	background-color: #0C1C2C;
	border-radius: 5px; /*Round corners for the searchbox*/
	float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);/*Sets a shadow to the box*/
    width: 100%;
    padding: 5px 0px;

}

.searchText{
	border-style: none;	/*Erases the default border of a textbox*/
	outline: none; /*Prevents the textbox to get a blue outline when selected*/
    outline-style: none;
    margin-left: 5px;
    width: calc(100% - 80px);
    background-color: #0C1C2C;
    color:#71889C;
}

::placeholder {
  color: #71889C;
}

.searchIcon{
	margin: 5px 5px 5px 15px;
	height: 15px;
	vertical-align: middle;
}

.searchSubmitIcon {
	height: 15px;
	float: right;
	margin: 5px 15px 5px 5px;
}

.createBoButton{
	padding: 7px 20px;
	outline: none;
	border: none;
	color: white;
	font-size: 14px;
/* 	background-color:#FE2851; */
	background-color: red;
	border-radius: 5px;
	float: right;
	display: block;
}

.content{
	margin-left: 250px;
	height: 100%;
	padding:20px;
	padding-right: 0px;
	overflow: hidden;
}

/*  



*/

.moviecard {
	margin: 16px 16px 0px 0px;
  	position: relative;
	float:left;
	width: calc(33% - 40px);
	min-width: 250px;
	max-width: 400px;
	height: 250px;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden; 
}
.moviecard:hover {
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.moviecard button {
	display: none;
	width: 33.33%;
	border: none;	
	outline: none;
    outline-style: none;
}
.title {
	width: calc(100% - 40px);
	font-weight: bold;
	font-size: 20px;
	color: #7A93B0;
  	display: block;
  	text-decoration: none;
}

.subtitle {
	width: calc(100% - 40px);
  	text-decoration: none;
  	font-size: 16px;
  	color: #3C5063;
  	display: block;
  	text-decoration: none;
	margin-top: 16px;
}
.description {
	width: calc(100% - 40px);
  	text-decoration: none;
  	font-size: 14px;
  	color: #f1f1f1;
  	display: block;
  	text-decoration: none;
  	margin-top: 16px;
}

.Icon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	margin-left: 30px;
}














.Header{
	margin-left: 250px;
	padding: 20px;
	overflow: hidden;
}

.Headline{
	color: #9278FF;
	font-weight: bold;
	font-size: 24px;
	float: left;
	padding-bottom: 20px;
	display:block;
}

.SearchBox{
	display: block;
	background-color: #0C1C2C;
	border-radius: 5px; /*Round corners for the searchbox*/
	float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);/*Sets a shadow to the box*/
    width: 100%;
    padding: 5px 0px;

}

.SearchText{
	border-style: none;	/*Erases the default border of a textbox*/
	outline: none; /*Prevents the textbox to get a blue outline when selected*/
    outline-style: none;
    margin-left: 5px;
    width: calc(100% - 80px);
    background-color: #0C1C2C;
    color:#71889C;
}

::placeholder {
  color: #71889C;
}

.SearchIcon{
	margin: 5px 5px 5px 15px;
	height: 15px;
	vertical-align: middle;
}

.SearchSubmitIcon {
	height: 15px;
	float: right;
	margin: 5px 15px 5px 5px;
}

.DeleteMemberIcon {
	height: 15px;
	float: left;
	margin: 5px 15px 5px 5px;
}

.CreateBoButton{
	padding: 7px 20px;
	outline: none;
	border: none;
	color: white;
	font-size: 14px;
/* 	background-color:#FE2851; */
	background-color: #9278FF;
	border-radius: 5px;
	float: right;
	display: block;
	cursor: pointer;
	transition: background-color 0.2s;
}



.CreateBoButton:hover{
	background-color: #6A52D0;
}

.Content{
	padding:20px;
	overflow: hidden;
}

.Card {
  	position: relative;
	float:left;
	/* width: calc(100% - 40px); */
	width: 20%;
	min-width: 200px;
	/* max-width: 350px; */
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden;
	margin: 0px 20px 20px 0px; 
	height: 200px;
}
.GoogleCard {
  	position: absolute;
	float:left;
	/* width: calc(100% - 40px); */
	width: 20%;
	min-width: 200px;
	/* max-width: 350px; */
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden;
	margin: 0px 20px 20px 0px; 
	height: 200px;
}

.EditCard {

	float:left;
	width: calc(100% - 40px);
	min-width: 250px;
	max-width: 350px;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	min-height: 350px;
}

.Card:hover {
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.EditCard table{
	width: 100% !important;
}

.CardViewTitle {
	width: calc(100% - 40px);
	font-weight: bold;
	font-size: 20px;
	color: #7A93B0;
  	display: block;
  	text-decoration: none;
}

.CardViewSubTitle {
	width: calc(100% - 40px);
  	text-decoration: none;
  	font-size: 16px;
  	color: #7A93B0;
  	display: block;
  	text-decoration: none;
	margin-top: 16px;
}

.CardViewParagraph {
	/*width: calc(100% - 40px); */
    text-decoration: none;
    font-size: 12px;
    color: #7A93B0;
    display: block;
    text-decoration: none;
    margin: 20px 0px 30px;
    line-height: 1.5;
}

.EditIcon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;

}

.AddIcon{
	width: 15px !important;
	height: 15px !important;
	cursor: pointer !important;
}

.MemberTextBox{
	width:90% !important;
}

.Screening{
	background: #04101A;
    padding: 5px;
    border-radius: 7px;
    display: block;
    vertical-align: middle !important;
    height: 130px;
    overflow-y: scroll;
}	

.gwt-CheckBox{
	border: none !important;
    outline: none !important;
    border-color: transparent;
    padding-top: px !important;
    margin: 0px 5px;
    height: 30px;
    text-decoration: none !important;
    vertical-align: middle;
}

.gwt-CheckBox label{
	color: #3C5063;
}

.CardDescription {
	font-size: 20px;
	color:  #7A93B0;
	padding: 10px 0px;
}

.CancelIcon {
	position: absolute;
    float: right;
    width: 10px;
    height: 10px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 0px;
}

.TextBoxLabel {
	width:100%;
	font-size: 12px;
	color: #6483A1;
	margin-top:10px;
	margin-bottom: 5px;
}



.InvisibleButton {
	display: none;
	border: none;	
	outline: none;
    outline-style: none;
}

.CardTextBox {
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}


.CardTextArea {
	margin-bottom: 10px;
	font-family: Roboto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #04101A;
    color: #71889C;
    border: none !important;
    padding: 10px 10px !important;
    outline-style: none;
    resize: vertical;
    height: 100px;
    font-size: 12px;
}

.CardSuggestBox{
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.CardDatePicker {
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.CardTimePicker {
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.TimePickerSuggestBox {
	background: transparent;
    color: #71889C;
    border: none !important;
    /* float: left; */
    width: 25px;
    display: inline-block;
}

.TimePickerLabel {
	background: transparent;
    display: inline-block;
    color: #71889C;
    border: none !important;
    width: 10px;
}

.DeleteIcon {
	float: left;
    margin-top: 20px;
    width: 11px;
    margin-top: 16px;
    margin-right: 2px;
    cursor: pointer;
}

.DeleteLabel {
	font-weight: bold;
    color: #FF6172;
    float: left;
    margin-top: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.SaveButton {
	/*position: absolute;*/
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #9278FF;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px;*/
	transition: background-color 0.2s;
}

.SaveButton:hover{
	background-color: #6A52D0;
}
.CardListBox {
	margin-bottom: 10px;
	font-family: Roboto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #04101A;
    color: #71889C;
    border: none !important;
    padding: 10px 10px !important;
    outline-style: none;
    font-size: 12px;
}

.select {
	background: #04101A;
}

select option {
	border: none;
    width: 100%;
    padding: 0 !important;
    outline: none;
    text-decoration: none;
    border-style: none;
    text-shadow: none !important;
    border-spacing: unset;
}

.CreateBoDialogBox {
	width: calc(100% - 40px);
	min-width: 250px;
	max-width: 350px;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden; 
}

.streetrow-inline {
	float: left;
	width: calc(100% - 40px);
}
.street {
  	text-decoration: none;
  	font-size: 12px;
  	color: #7A93B0;
  	display: block;
  	text-decoration: none;
  	margin-top: 16px;
  	margin-right: 8px;
  	float:left;
  	margin-bottom: 0px !important;
}

.cityrow-inline {
	float: left;
	width: calc(100% - 40px);
}

.city {
  	text-decoration: none;
  	font-size: 12px;
  	color: #7A93B0;
  	display: block;
  	text-decoration: none;
  	margin-top: 16px;
  	margin-right: 8px;
  	float:left;
  	margin-bottom: 0px !important;
}

.CinemaCardView{
	height: 150px !important;
}

.ScreeningCardView{
	height: 150px;
}

.ScreeningCardView .CardViewParagraph{
	margin: 20px 0px 15px !important;
}

.inputLabel {
	width:100%;
	font-family: "Roboto";
	font-size: 12px;
	color: #f1f1f1;
	margin-top:10px;
	margin-bottom: 5px;
}

.inputTextBox{
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Roboto";
	background-color:#3D3D3D;
	color: white;
	border: none !important;
	padding: 7px 10px !important;
	outline-style: none;
}
.inputTextBox:focus {
	box-shadow: 0 0 3pt 2pt red;
}

.inputTextArea{
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Roboto";
	background-color:#3D3D3D;
	color: white;
	border: none !important;
	padding: 7px 10px !important;
	outline-style: none;
	resize: vertical;
	height: 75px;
}

.inputTextArea:focus {
	box-shadow: 0 0 3pt 2pt red;
}


.saveIcon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	margin-left: 30px;
}

.deleteIcon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 100px;
	cursor: pointer;
	margin-left: 30px;
}

.MembersPanel{
	display: flow-root;
    background: #04101A;
    border-radius: 10px;
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 150px;
    
}

.MemberRow{
	
}

.MemberDeleteIcon{
	float: left;
    /* margin-top: 20px; */
    width: 11px;
    /* margin-top: 16px; */
    margin-right: 2px;
    margin-left: 10px;
    cursor: pointer;
}

.MemberLabel{
	width: 90%;
    font-size: 12px;
    color: #6483A1;
    /* margin-top: 15px; */
    margin-bottom: 5px;
    float: left;
}


/*
-----------------Section: SurveyCard-------------
	SurveyCardEdit
*/
.ScreeningSelection{
	background: #04101A;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ScreeningRow{
	padding: 10px 0px 10px 20px;
}

.ScreeningRowLabel{
	color: #71889C;
    float: left;
}

.ScreeningRow input{
	float: left;
    padding: 5px;
}

/*
-----------------Section: SurveyCard-------------
	SurveyCardView
*/

.SurveyCard{
	position: relative;
    float: left;
    width: 20%;
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin: 0px 20px 20px 0px;
    height: 150px !important;
}

.ActiveSurveyLabel{
	width: calc(100% - 40px);
    text-decoration: none;
    font-size: 13px;
    color: #5CFF50;
    display: block;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 10px;
}

.ClosedSurveyLabel{
	width: calc(100% - 40px);
    text-decoration: none;
    font-size: 13px;
    color: #FF5063;
    display: block;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 10px;
}

.Participations{
	float: left;
    text-decoration: none;
    font-size: 12px;
    color: #7A93B0;
    display: block;
    text-decoration: none;
    line-height: 1.5;
}

.VoteLabel{
	position: absolute;
    float: right;
    width: 15px;
    height: 15px;
    bottom: 20px;
    right: 80px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: #7A93B0;
    display: block;
    line-height: 1.5;
}

.StopSurveyButton{
    width: 100%;
    padding: 12px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    transition: background-color 0.2s;
    background-color: transparent;
    color: #9278FF;
    outline: none;
    border: #9278FF;
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
}

.ResultsButton{
	position: absolute;
    float: right;
    width: 15px;
    height: 15px;
    bottom: 20px;
    right: 80px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    color: #7A93B0;
    display: block;
    line-height: 1.5;
}
/*
-------------Vote Section---------------
*/

.SurveyEntrySelection{
	background: #04101A;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 120px;
    
}

.SurveyEntryRow{
	padding: 0px 10px;
    display: inline-block;
    margin: 10px 0px;
    /* display: block; */
    width: calc(100% - 20px);
}

.SurveyRowLabel{
	color: #71889C;
    float: left;
    padding: 0px 10px;
    width: 50%;
}

.UpVoteButton{
	    float: right;
    margin: 0px 10px;
    background: transparent;
    color: lightgreen;
    border: none;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 10px 15px;
}

.DownVoteButton{
	float: right;
    /* margin: 0px 10px; */
    background: transparent;
    color: #FF5063;
    border: none;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 10px 15px;
}

.VoteSelection{
	background: #173450;
    border-radius: 25px;
}

.PopUpPanel{
	right: 0;
	
}


@media screen and (max-width: 500px) {
	.navbar {
	    width: 100%;
   		height: 60px;
    	position: relative;
	}
	.navbar-element {
		text-align: center;
    	float: left;
    	padding: 20px 20px;
    	vertical-align: middle;
	}
	.logout {
		position: relative !important;
	    bottom: 0 !important;
	    text-align: center;
	    float: right;
	    padding: 20px 20px 0px 0px;
	}
  
	.Header {margin-left: 0}
	.content {
		margin-left: 0;
	    height: 100%;
	    padding: 20px;
	    overflow: hidden;
	}
	.LogoIcon{display:none}
	.LogoText{display:none}
	.navbar-element.switchClient{display:none}
	.navbar-element.bottom{display:none}
	.active{
		color: #9278FF;
		text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		border-left: none;
		padding: 20px;
	}
	.navbar-element:hover {
	    color: #9981FC;
	    text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	    padding: 20px;
	}
	.Card{
		position: relative;
	    float: left;
	    width: calc(100% - 40px);
	    min-width: unset;
    	max-width: unset;
	}
	.SurveyCard{
		position: relative;
	    float: left;
	    width: calc(100% - 40px);
	    min-width: unset;
    	max-width: unset;
	}
	
	.EditCard{
		top: 80px !important;
		width: calc(100% - 40px) !important;
		
	}

}
