body{
	margin: 0px !important; /*!important is for overwriting the browser default settings*/
	background-color: #051420 !important;/* Sets background color */
	font-family: "Roboto" !important;
	overflow-x: hidden; /* Disables horizontal scroll */
	min-width: 240px;
}
.navbar {
	width: calc(100% - 40px);
	height: auto;
	position: relative;
	top: 0;
	overflow: hidden;
	padding:20px;
	
}

.LogoIcon{
	float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 5px;
    transform: rotate(20deg) !important;
}

.LogoText{
	width: 100%;
    font-family: "Pacifico" !important;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    text-decoration: underline;
    text-decoration-color: #9278FF;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menuIcon{
	display: block;
	height: 20px;
	float: left;
	
}

.createIcon{
	display: block;
	height: 20px;
	float: right;
}

.invisibleButton {
	background: transparent;
    border: none !important;
    font-size:0;
}

.createDecisionBox{
	background-color: #112D49;
	width: calc(100% - 80px);
	border-radius: 10px;
	top: 60px !important;
	left: 40px !important;
	right: 40px !important;
}
.createDecisionBox table{
	margin: 0 !important;
	width: 100%;
}

.decision-element {
	text-align: center;
	color: #7A93B0;
	width: calc(100% - 40px);
	padding: 20px;
	font-size: 14px;
}

.navbar-element {
	display: none;
}

.bottom{
	position: absolute !important;
	bottom: 80px !important;
}

.logout{
	position: absolute !important;
	bottom: 40px !important;
	color: #FF6172 !important;
}
.logout:hover{
		text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
		border-left: solid #FF6172 !important;
		padding: 15px 30px 15px 48px !important;
		
}

.navbar-show{
	width: calc(100% - 40px);
	height: auto;
	position: relative;
	top: 0;
	overflow: hidden;
	padding:20px;
	margin-bottom: 16px;
	background: #0C1C2C;

}

.menuIcon-show {
	height: 20px;
	float: left;
}

.navbar-element-show {
	width: 100%;
	color: #7A93B0;
	float: none;
	font-size: 12px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	padding: 15px 20px 0px 0px;
	overflow: hidden;
}

.headerLabel {
	color: #7A93B0 !important;
    float: left;
    text-align: center;
    width: calc(100% - 52px);
    font-size: 16px;
    font-weight: bold;
}

.navbar-element-show:hover{
	color: #9278FF;
	text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header{
	margin-left: 0;
	padding: 0px 20px;
	overflow: hidden;
}

.headline{
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	float: left;
	vertical-align: center;
	padding-top: 5px;
	display:none;
}

.searchBox{
	display: block;
	background-color: #0C1C2C;
	border-radius: 5px; /*Round corners for the searchbox*/
	float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);/*Sets a shadow to the box*/
    width: 100%;
    padding: 5px 0px;

}

.searchText{
	border-style: none;	/*Erases the default border of a textbox*/
	outline: none; /*Prevents the textbox to get a blue outline when selected*/
    outline-style: none;
    margin-left: 5px;
    width: calc(100% - 80px);
    background-color: #0C1C2C;
    color:#71889C;
}

::placeholder {
  color: #71889C;
}

.searchIcon{
	margin: 5px 5px 5px 15px;
	height: 15px;
	vertical-align: middle;
}

.searchSubmitIcon {
	height: 15px;
	float: right;
	margin: 5px 15px 5px 5px;
}

.createBoButton{
	padding: 7px 20px;
	outline: none;
	border: none;
	color: white;
	font-size: 14px;
/* 	background-color:#FE2851; */
	background-color: red;
	border-radius: 5px;
	float: right;
	display: none;
}

.content{
	padding:20px;
	padding-right: 0px;
	overflow: hidden;
}

/*  



*/

.moviecard {
	margin-top: 32px;
  	position: relative;
	float:left;
	width: calc(100% - 40px);
	min-width: 250px;
	max-width: 400px;
	height: 250px;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden; 
}
.moviecard:hover {
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.moviecard button {
	display: none;
	width: 33.33%;
	border: none;	
	outline: none;
    outline-style: none;
}
.title {
	width: calc(100% - 40px);
	font-weight: bold;
	font-size: 20px;
	color: #7A93B0;
  	display: block;
  	text-decoration: none;
}

.subtitle {
	width: calc(100% - 40px);
  	text-decoration: none;
  	font-size: 16px;
  	color: #3C5063;
  	display: block;
  	text-decoration: none;
	margin-top: 16px;
}
.description {
	width: calc(100% - 40px);
  	text-decoration: none;
  	font-size: 14px;
  	color: #f1f1f1;
  	display: block;
  	text-decoration: none;
  	margin-top: 16px;
}

.Icon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	margin-left: 30px;
}














.Header{
	margin-left: 250px;
	padding: 20px;
	overflow: hidden;
}

.Headline{
	color: #9278FF;
	font-weight: bold;
	font-size: 24px;
	float: left;
	padding-bottom: 20px;
	display:block;
}

.SearchBox{
	display: block;
	background-color: #0C1C2C;
	border-radius: 5px; /*Round corners for the searchbox*/
	float: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);/*Sets a shadow to the box*/
    width: 100%;
    padding: 5px 0px;

}

.SearchText{
	border-style: none;	/*Erases the default border of a textbox*/
	outline: none; /*Prevents the textbox to get a blue outline when selected*/
    outline-style: none;
    margin-left: 5px;
    width: calc(100% - 80px);
    background-color: #0C1C2C;
    color:#71889C;
}

::placeholder {
  color: #71889C;
}

.SearchIcon{
	margin: 5px 5px 5px 15px;
	height: 15px;
	vertical-align: middle;
}

.SearchSubmitIcon {
	height: 15px;
	float: right;
	margin: 5px 15px 5px 5px;
}

.CreateBoButton{
	padding: 7px 20px;
	outline: none;
	border: none;
	color: white;
	font-size: 14px;
/* 	background-color:#FE2851; */
	background-color: #9278FF;
	border-radius: 5px;
	float: right;
	display: block;
	cursor: pointer;
	transition: background-color 0.2s;
}

.CreateBoButton:hover{
	background-color: #6A52D0;
}

.Content{
	padding:20px;
	overflow: hidden;
}

.Card {
  	position: relative;
	float:left;
	/* width: calc(100% - 40px); */
	width: 20%;
	min-width: 200px;
	/* max-width: 350px; */
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden;
	margin: 0px 20px 20px 0px; 
	height: 200px;
}

.EditCard {

	float:left;
	width: calc(100% - 40px);
	min-width: 250px;
	max-width: 350px;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	min-height: 350px;
}

.Card:hover {
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.EditCard table{
	width: 100% !important;
}

.CardViewTitle {
	width: calc(100% - 40px);
	font-weight: bold;
	font-size: 20px;
	color: #7A93B0;
  	display: block;
  	text-decoration: none;
}

.CardViewSubTitle {
	width: calc(100% - 40px);
  	text-decoration: none;
  	font-size: 16px;
  	color: #7A93B0;
  	display: block;
  	text-decoration: none;
	margin-top: 16px;
}

.CardViewParagraph {
	/*width: calc(100% - 40px); */
    text-decoration: none;
    font-size: 12px;
    color: #7A93B0;
    display: block;
    text-decoration: none;
    margin: 20px 0px 30px;
    line-height: 1.5;
}

.EditIcon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;

}

.CardDescription {
	font-size: 20px;
	color:  #7A93B0;
	padding: 10px 0px;
}

.CancelIcon {
	position: absolute;
    float: right;
    width: 10px;
    height: 10px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 0px;
}

.TextBoxLabel {
	width:100%;
	font-size: 12px;
	color: #6483A1;
	margin-top:10px;
	margin-bottom: 5px;
}

.InvisibleButton {
	display: none;
	border: none;	
	outline: none;
    outline-style: none;
}

.CardTextBox {
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.CardTextArea {
	margin-bottom: 10px;
	font-family: Roboto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #04101A;
    color: #71889C;
    border: none !important;
    padding: 10px 10px !important;
    outline-style: none;
    resize: vertical;
    height: 100px;
    font-size: 12px;
}

.CardSuggestBox{
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.CardDatePicker {
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.CardTimePicker {
	margin-bottom: 10px;
	font-family: Roboto;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:#04101A;
	color: #71889C;
	border: none !important;
	padding: 10px 10px !important;
	outline-style: none;
	font-size: 12px;
}

.TimePickerSuggestBox {
	background: transparent;
    color: #71889C;
    border: none !important;
    /* float: left; */
    width: 25px;
    display: inline-block;
}

.TimePickerLabel {
	background: transparent;
    display: inline-block;
    color: #71889C;
    border: none !important;
    width: 10px;
}

.DeleteIcon {
	float: left;
    margin-top: 20px;
    width: 11px;
    margin-top: 16px;
    margin-right: 2px;
    cursor: pointer;
}

.DeleteLabel {
	font-weight: bold;
    color: #FF6172;
    float: left;
    margin-top: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.SaveButton {
	/*position: absolute;*/
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #9278FF;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px;*/
	transition: background-color 0.2s;
}

.SaveButton:hover{
	background-color: #6A52D0;
}
.CardListBox {
	margin-bottom: 10px;
	font-family: Roboto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #04101A;
    color: #71889C;
    border: none !important;
    padding: 10px 10px !important;
    outline-style: none;
    font-size: 12px;
}

.select {
	background: #04101A;
}

select option {
	border: none;
    width: 100%;
    padding: 0 !important;
    outline: none;
    text-decoration: none;
    border-style: none;
    text-shadow: none !important;
    border-spacing: unset;
}

.CreateBoDialogBox {
	width: calc(100% - 40px);
	min-width: 250px;
	max-width: 350px;
	padding: 20px;
	border-radius: 10px;
	background-image: linear-gradient(to bottom right, #0D1D2D, #112D49);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow-x: hidden; 
}

.streetrow-inline {
	float: left;
	width: calc(100% - 40px);
}
.street {
  	text-decoration: none;
  	font-size: 12px;
  	color: #7A93B0;
  	display: block;
  	text-decoration: none;
  	margin-top: 16px;
  	margin-right: 8px;
  	float:left;
  	margin-bottom: 0px !important;
}

.cityrow-inline {
	float: left;
	width: calc(100% - 40px);
}

.city {
  	text-decoration: none;
  	font-size: 12px;
  	color: #7A93B0;
  	display: block;
  	text-decoration: none;
  	margin-top: 16px;
  	margin-right: 8px;
  	float:left;
  	margin-bottom: 0px !important;
}

.CinemaCardView{
	height: 150px !important;
}

.ScreeningCardView{
	height: 150px;
}

.ScreeningCardView .CardViewParagraph{
	margin: 20px 0px 15px !important;
}

.inputLabel {
	width:100%;
	font-family: "Roboto";
	font-size: 12px;
	color: #f1f1f1;
	margin-top:10px;
	margin-bottom: 5px;
}

.inputTextBox{
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Roboto";
	background-color:#3D3D3D;
	color: white;
	border: none !important;
	padding: 7px 10px !important;
	outline-style: none;
}
.inputTextBox:focus {
	box-shadow: 0 0 3pt 2pt red;
}

.inputTextArea{
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Roboto";
	background-color:#3D3D3D;
	color: white;
	border: none !important;
	padding: 7px 10px !important;
	outline-style: none;
	resize: vertical;
	height: 75px;
}

.inputTextArea:focus {
	box-shadow: 0 0 3pt 2pt red;
}


.saveIcon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	margin-left: 30px;
}

.deleteIcon {
	position: absolute;
	float:right;
	width: 15px;
	height: 15px;
	bottom: 20px;
	right: 100px;
	cursor: pointer;
	margin-left: 30px;
}

.PopUpPanel{
	right: 0;
	
}


@media screen and (min-width: 500px) {
	.navbar{
		margin: 0;
		padding: 0;
	 	width: 250px;
	 	background-color: #0C1C2C;
	 	position: fixed;
		height: 100%;
		overflow: auto;
	}

	.menuIcon{
		display: none;
	}

	.navbar-element{
		display: block;
		color: #7A93B0;
	    padding: 15px 30px 15px 50px;
	    font-size: 16px;
	    cursor: pointer;
	    text-decoration: none;
	}
	
	.active{
		color: #9278FF;
		text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		border-left: solid #9278FF;
		padding: 15px 30px 15px 48px;
	}

	.navbar-element:hover{
		color: #9981FC;
		text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		padding: 15px 30px 15px 50px;
	}

	.header{
		margin-left: 250px;
		padding: 16px;
	}
	
	.headline{
		display: block;
	}
	
	.createBoButton{
		display: block;
	}
	
	.content{
	margin-left: 250px;
	height: 100%;
	}
	.moviecard {
	margin: 16px 16px 0px 0px;
	width: calc(33% - 40px);

	}

}
