<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<!--  Default page to serve -->
<welcome-file-list>
	<welcome-file>SoPra_WS1920a.html</welcome-file>
</welcome-file-list>

  <!-- Servlets -->
<servlet>
	<servlet-name>SurveyManagementImpl</servlet-name>
    <servlet-class>de.hdm.SoPra_WS1920.server.SurveyManagementImpl</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>SurveyManagementImpl</servlet-name>
    <url-pattern>/sopra_ws1920a/SurveyManagementImpl</url-pattern>
</servlet-mapping>

  
<servlet>
	<servlet-name>CinemaAdministrationImpl</servlet-name>
    <servlet-class>de.hdm.SoPra_WS1920.server.CinemaAdministrationImpl</servlet-class>
</servlet>
  
<servlet-mapping>
    <servlet-name>CinemaAdministrationImpl</servlet-name>
    <url-pattern>/sopra_ws1920a/CinemaAdministrationImpl</url-pattern>
</servlet-mapping>  

<servlet>
	<servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>de.hdm.SoPra_WS1920.server.LoginServiceImpl</servlet-class>
</servlet>
  
<servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/sopra_ws1920a/LoginServiceImpl</url-pattern>
</servlet-mapping>

</web-app>
